includes:
    - vendor/larastan/larastan/extension.neon
    - vendor/nesbot/carbon/extension.neon

parameters:
    paths:
        - app/
    level: 10
    ignoreErrors:
        # Ignore missing generic type for HasFactory trait in all models
        - '#Class App\\Models\\.* uses generic trait Illuminate\\Database\\Eloquent\\Factories\\HasFactory but does not specify its types: TFactory#'
        - '#Method App\\Http\\Requests\\.* return type has no value type specified in iterable type array#'
